<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="pattern">%d{HH:mm:ss} [%-p] - %m{nolookups}%n</Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
        <ReportPortalLog4j2Appender name="ReportPortalAppender">
            <PatternLayout pattern="${pattern}"/>
        </ReportPortalLog4j2Appender>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <appender-ref ref="ReportPortalAppender"/>
            <appender-ref ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>